.borderlessMode#gulnya-layout {
  padding: var(--spaceLevel1);
  background: var(--LightDesertSand);
}

.borderlessMode #gulnya-interface-wrapper {
  border: none;

  padding: 0;
}

.borderlessMode .skrynia-pakv {
  border: none;
  background: var(--background);
}
